{% extends "base.html" %}

{% block scripts %}

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-analytics.js"></script>

<script>

    // Your web app's Firebase configuration by default
    var firebaseConfig = {
            apiKey: "AIzaSyDsMIGjOnJ14fexihQpr78oYPguGxOzSW0",
            authDomain: "beeping-docs-56395.firebaseapp.com",
            databaseURL: "https://beeping-docs-56395.firebaseio.com",
            projectId: "beeping-docs-56395",
            storageBucket: "beeping-docs-56395.appspot.com",
            messagingSenderId: "659251697374",
            appId: "1:659251697374:web:8497c2669732e39458144f",
            measurementId: "G-TRZPXBLWFD"
        };

    // Your web app's Firebase configuration in Spanish
    var spanishConfig = {
        apiKey: "AIzaSyDsMIGjOnJ14fexihQpr78oYPguGxOzSW0",
        authDomain: "beeping-docs-56395.firebaseapp.com",
        databaseURL: "https://beeping-docs-56395.firebaseio.com",
        projectId: "beeping-docs-56395",
        storageBucket: "beeping-docs-56395.appspot.com",
        messagingSenderId: "659251697374",
        appId: "1:659251697374:web:a79a22d02c758d8958144f",
        measurementId: "G-VL7ZHC3VTP"
    };

    
    if (window.location.hostname.includes('-es') == true) {
        firebaseConfig = spanishConfig;
    }

    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();

</script>

{% endblock %}