/* Font Family */
code,
kbd,
pre {
    font-family: 
    "Courier New",
    "Courier",
    "monospace" !important;
}

/* Footer */
.md-footer-copyright__highlight {
    color: hsla(0, 0%, 100%, 1);
}

.md-footer-copyright {
    font-size: .74rem;
    padding-top: 0.9rem;
}