/* Font Family */
body {
    font-family: "Graphik-Regular";
}

code,
kbd,
pre {
    font-family:
        "Courier New",
        "Courier",
        "monospace" !important;
}

/* Colors */
[data-md-color-primary=red] .md-header,
[data-md-color-primary=red] .md-hero {
    background-color: #d64550;
}

[data-md-color-primary=red] .md-tabs {
    background-color: #d64550;
}

[data-md-color-accent=light-blue] .md-nav__link:focus,
[data-md-color-accent=light-blue] .md-nav__link:hover,
[data-md-color-accent=light-blue] .md-typeset .footnote li:hover .footnote-backref:hover,
[data-md-color-accent=light-blue] .md-typeset .footnote li:target .footnote-backref,
[data-md-color-accent=light-blue] .md-typeset .md-clipboard:active:before,
[data-md-color-accent=light-blue] .md-typeset .md-clipboard:hover:before,
[data-md-color-accent=light-blue] .md-typeset [id] .headerlink:focus,
[data-md-color-accent=light-blue] .md-typeset [id]:hover .headerlink:hover,
[data-md-color-accent=light-blue] .md-typeset [id]:target .headerlink {
    color: #33b5e5;
}

/* Footer */
.md-footer-copyright__highlight {
    color: hsla(0, 0%, 100%, 1);
}

.md-footer-copyright {
    font-size: .74rem;
    padding-top: 0.9rem;
}